@import '../../../theme/variables.scss';

.card {
    border: none;
    margin: 15px;
    flex-basis: 40%;
    cursor: pointer;
    box-shadow: $cardShadow;
    transition: all .3s ease-in-out;

    &:hover {
        box-shadow: $cardShadowHover;
    }

    @media screen and (max-width: $md) {
        flex-basis: 100%;
    }

}

.card-img-top {
    height: 200px;
}