// media queries
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// colors
$backgroundDefault: linear-gradient(to right, #274046, #e6dada);
$hoverCard: #e8e8e8;
$mutedText: darkgray;

//shadows
$cardShadow : 10px 10px 56px -30px rgba(0, 0, 0, 0.75);
$cardShadowHover: 10px 31px 56px -14px rgba(0, 0, 0, 0.53);